
.v-application {
    background-color: black !important;

}

body {
    background-color: black !important;
    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE10+/Edge */
    -webkit-user-drag: none !important;
    user-select: none !important;         /* Standard */
}

img {
    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE10+/Edge */
    -webkit-user-drag: none !important;
    user-select: none !important;         /* Standard */
}